# Config file for building and deploying on Railway.app hosting

[build]
builder = "NIXPACKS"
buildCommand = "./build.sh"

[deploy]
startCommand = "gunicorn the_flip.wsgi:application"
healthcheckPath = "/healthz/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
