{# Read-only media thumbnails for list views #}
{# Usage: {% include "core/partials/media_grid_readonly.html" with media_items=entry.media.all detail_url=url model_name="LogEntryMedia" %} #}
{# Requires: Include video_transcode_poll.js in page scripts for auto-updates #}
{% load video_tags %}
{% if media_items %}
  <a href="{{ detail_url }}" class="timeline__media-link">
    <div class="media-grid">
      {% for media in media_items %}
        <div class="media-grid__item">
          {% if media.media_type == media.MediaType.VIDEO %}
            {% video_thumbnail media=media model_name=model_name|default:"LogEntryMedia" %}
          {% else %}
            {% if media.thumbnail_file %}
              <img src="{{ media.thumbnail_file.url }}" alt="Photo">
            {% else %}
              <img src="{{ media.file.url }}" alt="Photo">
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </a>
{% endif %}
