{% extends "base_public_minimal.html" %}
{% load form_tags static %}
{% block title %}Report a Problem with {{ machine.name }} · {{ block.super }}{% endblock %}
{% block content %}
  <div class="card card--padded">
    <h2 class="space-below-md">Report a Problem with {{ machine.name }}</h2>
    <form method="post" enctype="multipart/form-data" class="form-main">
      {% csrf_token %}
      {% form_non_field_errors form %}
      {% form_field form.description %}
      {% media_file_input form.media_file %}
      <div class="form-actions">
        <button type="submit" class="btn btn--primary btn--full">Submit Report</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'core/file_accumulator.js' %}" defer></script>
{% endblock %}
