{% extends "wiki/base.html" %}
{% load ui_tags %}
{% load list_tags %}
{% load accounts_tags %}
{% block title %}Docs · {{ block.super }}{% endblock %}
{% block two_column_modifier %}{% endblock %}
{% block main %}
  {% if recent_pages %}
    <section>
      <h2>Recently Updated</h2>
      {% for page in recent_pages %}
        <div class="card card--padded space-above-sm">
          <div>
            {% with first_tag=page.tags.all.0 %}
              <a href="{% url 'wiki-page-detail' first_tag %}">{{ page.title }}</a>
            {% endwith %}
          </div>
          <div class="text-sm text-muted">
            Updated {{ page.updated_at|smart_date }}
            {% if page.updated_by %}by {{ page.updated_by|display_name_with_username }}{% endif %}
            {% if page.tags.all %}
              · {% icon "hashtag" class="meta" %}
              {% for tag in page.tags.all %}
                {{ tag.tag|default:"(root)" }}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>
  {% else %}
  {% empty_state empty_message="No docs yet." search_message="" is_search=False %}
  {% endif %}
{% endblock %}
